@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@font-face {
  font-family: Ubuntu-Regular;
  src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: Ubuntu-Medium;
  src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: Ubuntu-bold;
  src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: Ubuntu-Italic;
  src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
  font-family: Ubuntu-Light;
  src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Light.ttf);
}
@keyframes loader {
  0% {
    transform: translate(-30px);
  }
  100% {
    transform: translate(150px);
  }
}
@keyframes slideDown {
  from {
    top: -100%; /* Posición inicial */
  }
  to {
    top: 0; /* Posición final */
  }
}
@keyframes scroll {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.15795;
  }
  5% {
    opacity: 0.31511;
  }
  10% {
    opacity: 0.94554;
  }
  15% {
    opacity: 0.2469;
  }
  20% {
    opacity: 0.62031;
  }
  25% {
    opacity: 0.0293;
  }
  30% {
    opacity: 0.00899;
  }
  35% {
    opacity: 0.5344;
  }
  40% {
    opacity: 0.12778;
  }
  45% {
    opacity: 0.52042;
  }
  50% {
    opacity: 0.3823;
  }
  55% {
    opacity: 0.2198;
  }
  60% {
    opacity: 0.9383;
  }
  65% {
    opacity: 0.86615;
  }
  70% {
    opacity: 0.68695;
  }
  75% {
    opacity: 0.55749;
  }
  80% {
    opacity: 0.96984;
  }
  85% {
    opacity: 0.0361;
  }
  90% {
    opacity: 0.24467;
  }
  95% {
    opacity: 0.08351;
  }
  100% {
    opacity: 0.54813;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes type {
  from {
    width: 0ch;
  }
  to {
    width: 160ch;
  }
}
html {
  box-sizing: border-box;
  width: 100vw !important;
  padding: 0;
  scroll-behavior: smooth;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur116.cur), default !important;
}

body {
  color: #282C34;
  background-color: #282C34;
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  background-image: url(/Resources/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: url(https://cur.cursors-4u.net/games/gam-4/gam375.cur), auto !important;
}

body .hidden {
  display: none !important;
}
body .welcome-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pixelify Sans", sans-serif;
  line-height: 2;
  height: 100vh;
  background-color: #221;
  text-transform: uppercase;
}
body .welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: space-evenly;
}
body .welcome .welcome-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  top: 10%;
}
body .welcome .welcome-main .welcome-microsoft-container {
  position: relative;
  display: flex;
  gap: 1em;
  flex-direction: row;
  right: 1em;
  align-items: flex-end;
}
body .welcome .welcome-main .welcome-microsoft-container .welcome-microsoft-text {
  display: block;
  font-weight: 100;
  font-size: 2em;
  font-family: system-ui;
}
body .welcome .welcome-main .welcome-microsoft-container .welcome-microsoft-text i {
  position: relative;
  font-size: 8px;
  top: -2em;
  right: 1em;
}
body .welcome .welcome-main .welcome-microsoft-container .welcome-microsoft-flag img {
  width: 10em;
}
body .welcome .welcome-main .welcome-microsoft-container .welcome-microsoft-flag i {
  position: absolute;
  top: 80%;
  right: 2px;
}
body .welcome .welcome-main .welcome-windows-container {
  margin-top: -17px;
}
body .welcome .welcome-main .welcome-windows-container .welcome-windows-text {
  font-size: 4em;
  font-weight: bold;
  margin-right: 1em;
}
body .welcome .welcome-main .welcome-windows-container .welcome-windows-text i {
  position: absolute;
  top: 10em;
  right: 55px;
  font-size: 15px;
}
body .welcome .welcome-main .welcome-windows-container .welcome-windows-xp {
  color: #F4792F;
  font-size: 3em;
  position: absolute;
  font-weight: bold;
  top: 8rem;
  right: 0em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body .welcome .welcome-main .welcome-profesional {
  font-size: 2.5em;
  right: 3.4rem;
  position: relative;
  margin-top: -17px;
}
body .welcome-footer {
  position: relative;
  top: 25%;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .welcome-footer img {
  width: 10em;
}
body .welcome-loading {
  width: 150px;
  height: 10px;
  border: 2px solid #b2b2b2;
  border-radius: 7px;
  margin: 0 auto;
  padding: 2px 1px;
  overflow: hidden;
  font-size: 0;
  position: relative;
  top: 10%;
}
body .welcome-loading .box {
  width: 9px;
  height: 100%;
  background: linear-gradient(to bottom, #2838c7 0%, #5979ef 17%, #869ef3 32%, #869ef3 45%, #5979ef 59%, #2838c7 100%);
  display: inline-block;
  margin-right: 2px;
  animation: loader 2s infinite;
  animation-timing-function: linear;
}

.welcome-menu {
  background: #383838;
  color: #00dd00;
}
.welcome-menu .typing {
  animation: type 3.5s steps(60, end) backwards;
  margin: 1px 0;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}
.welcome-menu .typing:nth-child(1) {
  animation-delay: 3.5s;
}
.welcome-menu .typing:nth-child(2) {
  animation-delay: 7s;
}
.welcome-menu .typing:nth-child(3) {
  animation-delay: 10.5s;
}
.welcome-menu .typing:nth-child(4) {
  animation-delay: 14s;
}
.welcome-menu .typing:nth-child(5) {
  animation-delay: 17.5s;
}
.welcome-menu .typing:nth-child(6) {
  animation-delay: 21s;
}
.welcome-menu .typing:nth-child(7) {
  animation-delay: 24.5s;
}
.welcome-menu .typing:nth-child(8) {
  animation-delay: 28s;
}
.welcome-menu .typing:nth-child(9) {
  animation-delay: 31.5s;
}
.welcome-menu .typing:nth-child(10) {
  animation-delay: 35s;
}
.welcome-menu .typing:nth-child(11) {
  animation-delay: 38.5s;
}
.welcome-menu .typing:nth-child(12) {
  animation-delay: 42s;
}
.welcome-menu .typing:nth-child(13) {
  animation-delay: 45.5s;
}
.welcome-menu .text-shadow {
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
}
.welcome-menu .overlay {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
}
.welcome-menu .overlay:before {
  background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
  background-size: 100% 2px, 6px 100%;
  content: "";
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.welcome-menu .overlay:after {
  animation: flicker 0.3s infinite;
  background: rgba(16, 16, 16, 0.2);
  content: "";
  display: block;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.welcome-menu .scanline {
  animation: scroll 10s 2s infinite;
  background: linear-gradient(to bottom, rgba(0, 221, 0, 0) 0%, rgb(0, 221, 0) 50%, rgba(0, 221, 0, 0) 100%);
  display: block;
  height: 20px;
  opacity: 0.06;
  position: absolute;
  left: 0;
  right: 0;
  top: 0%;
  z-index: 2;
}
.welcome-menu .wrapper {
  margin: 0;
  overflow: hidden;
  padding: 0;
  scrollbar-width: none;
  width: 80%;
  height: 90%;
}
.welcome-menu .wrapper .content {
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 95%;
  overflow: hidden !important;
  zoom: 1;
}
.welcome-menu .wrapper .content header.site.clearfix {
  margin: 0 0 40px 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.welcome-menu .wrapper .content header.site.clearfix .col.one {
  position: relative;
  overflow: hidden;
  height: 7.5em;
  width: 7.5em;
}
.welcome-menu .wrapper .content header.site.clearfix .col.one #logo-v {
  animation: slideDown 2s linear both;
  top: -88%;
  position: absolute;
  height: auto;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.welcome-menu .wrapper .content header.site.clearfix .col.two {
  width: auto;
  position: relative;
  font-size: 18px;
  animation: text-flicker-in-glow 4s linear both;
}
.welcome-menu .wrapper .content header.site.clearfix .col.two span {
  position: relative;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
.welcome-menu .wrapper .content header.site.clearfix .col.two span b {
  color: white;
}
.welcome-menu .wrapper .content header.site.clearfix .col.two p {
  line-height: 100%;
  margin: 0;
}
.welcome-menu .main .main-text {
  width: 100%;
  height: 67%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.welcome-menu .main .main-text p {
  margin: 0;
}
.welcome-menu .main .main-text p b {
  color: white;
}
.welcome-menu .main .main-menu .site {
  margin: 0 0 40px 0;
  position: relative;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
}
.welcome-menu .main .main-menu .site.clear {
  clear: both;
}
.welcome-menu .main .main-menu .site ul {
  list-style: none;
  padding: 0;
}
.welcome-menu .main .main-menu .site ul li {
  display: inline-block;
  padding: 0 10px;
  min-width: 250px;
  width: auto;
}
.welcome-menu .main .main-menu .site ul li a, .welcome-menu .main .main-menu .site ul li i {
  color: white;
  text-decoration: none;
}
.welcome-menu .main .main-menu .site ul li i {
  display: none;
}
.welcome-menu .main .main-menu .site ul li a:hover {
  color: red;
}
.welcome-menu .main .main-menu .site ul li a:before,
.welcome-menu .main .main-menu .site ul li p a:before {
  color: #00dd00;
  content: " [ ";
}
.welcome-menu .main .main-menu .site ul li a:after,
.welcome-menu .main .main-menu .site ul li p a:after {
  color: #00dd00;
  content: " ] ";
}
.welcome-menu .main .main-menu .site ul > li:hover i {
  transition: 0.2s ease-in-out;
  display: contents;
  position: absolute;
  top: 1.5rem;
  left: 8rem;
}
.welcome-menu .contact-gratitude {
  display: flex;
  position: absolute;
  bottom: 1em;
}

body {
  background: #000;
  font-family: "Roboto", sans-serif;
  color: #fff;
  overflow: hidden;
}/*# sourceMappingURL=welcome.css.map */